@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  background-color: rgb(249 250 251);
}

#food-form .input,
#profile-form .input {
  border-radius: 0;
  border-bottom: 1px solid #9e9e9e;
  padding: 0;
  transition: 200ms;
}

.input:focus {
  border-bottom: 1px solid #00897b !important;
  outline: 0;
}

.form-control:focus-within > label {
  color: #00897b;
  transition: 200ms;
}

#food-list li {
  border-bottom: 1px solid #c9c9c9;
}
